@color-dark-grey: rgba(25,25,25,0.77);

.App {
  text-align: center;
  margin: 15px 35px 80px 35px;
  background-image: url('./img/bg.jpg');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.no-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

input:focus {
  outline: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Upload form */
.upload-form-container {
  position: relative;
  background: @color-dark-grey;
  max-width: 450px;
  margin: 40px auto 60px 0;
  border: 5px solid #ccc;
}
#upload-form {
  height: 100%;
  padding: 5px;
}
#upload-form label {
  color: #ddd;
}
button {
  cursor: pointer;
}
.form-row {
  display: block;
  position: relative;
  margin: 10px 0;
}
.form-row label {
  text-align: right;
  color: white;
  text-align: right;
  width: 25%;
  display: inline-block;
}
.form-row input {
  line-height: 2em;
  width: 70%;
  margin-left: 15px;
  padding: 5px;
  box-sizing: border-box;
}
#submit-btn {
  border: none;
  text-decoration: none;
  background-color: white;
  font-size: 1.2em;
  line-height: 2em;
  width: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}
#submit-btn:hover {
  background-color: #429ef4;
}

.upload-form-container .overlay {
  z-index: 999;
}
.upload-form-container .loader {
  z-index: 999;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
}
.upload-form-container .loader.status-success {
  background-color: rgba(10,250,0,0.7);
}
.upload-form-container .loader.status-failed{
  background-color: rgba(250,20,0,0.7);
}

.spinner {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
/* Streamable list */
td,.table-cell {
  padding: 10px 25px;
  text-align: left;
}
th {
  cursor: pointer;
  padding: 5px 0;
}
td {
  cursor: default;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: blue;
}
.streamable-list-container table, .streamable-list-container .table {
  border-collapse: collapse;
  color: @color-dark-grey;
}
tr.streamable-container,.table-row.streamable-container {
  background-color: @color-dark-grey;
  color: white;
}
.streamable-list-container .table {
  width: 100%;
}
.streamable-list-header {
  height: 40px;
  color: @color-dark-grey;
}
.streamable-list-header .table-header:hover {
  background-color: rgba(0,0,0,0.1);
  border-left: 12px rgba(0,0,0,0.1);
}
.streamable-list-header .col-url {
  width: 250px;
}
.streamable-list-header .col-name {
  width: 300px;
}
.streamable-list-header .col-uploader {
  width: 150px;
}
.streamable-list-header .col-time {
  width: 132px;
}
.table-cell.col.streamable-time {
  min-width: 132px;
}
a.table-row.streamable-container {
  border-left: 12px solid #bbf;
  border-bottom: 1px solid #333;
  height: 40px;
}
a:visited.table-row.streamable-container {
  border-left: 12px solid #47f;
  border-top: 1px solid #77f;
}
.streamable-container.table-row:hover {
  background-color: #333;
}
.streamable-search-container {
  max-width: 450px;
  background-color: @color-dark-grey;
  height: 75px;
  display: flex;
  align-items: center;
  border: 5px solid #ccc;
  margin-bottom: 30px;
}
input#streamable-search {
  height: 45px;
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 20px;
}
input#streamable-search:focus {
  outline: none;
}
form {
  margin: 10px;
}

.streamable-frame-wrapper {
  width: 100%;
  height: 0px;
  position: relative;
  padding-bottom: 56.250%;
  /*display: inline-block;*/
  display: none;
}
.btn-embed {
  display: none;
}
.streamable-frame-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
  cursor: pointer;
}
.table-cell,.table-header {
  display: table-cell;
}
.table-header {
  text-align: center;
  font-weight: bold;
  line-height: 2em;
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 15px 0;
  }
}